TAC_SERVER_URL=http://xxx:1234/tacxx/
TAC_SERVER_USERNAME=xxx
TAC_SERVER_PASSWORD=xxx
TAC_SERVER_EMAIL=xxx
TAC_SERVER_LABEL=xxx
KARAF_HOSTNAME=xxx
KARAF_PORT=xxx
KARAF_USERNAME=xxx
KARAF_PASSWORD=xxx
NEXUS_URL=http://xxx:8081/nexus/content/repositories/releases
INCLUDES=.*
EXCLUDES=
DRY_RUN=true